<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" href="" id="Favicon"> @Styles.Render("~/Content/css")
    <link href="~/Content/css/style.css" rel="stylesheet" /> @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/bootstrap/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/ScriptSys/FormValidation/formValidation.min.css" rel="stylesheet" /> @RenderSection("Styles", required: false) @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/data-tables/jquery.datatable.1.10.12.js"></script>
    <script src="~/Content/bootstrap/data-tables/DT_bootstrap.js"></script>
    <script src="~/Tool_JS/js/CryptoJS.js"></script>
    <script src="~/Tool_JS/js/ToolFunction.js"></script>
    <script src="~/Tool_JS/js/formatmoney.js"></script>
    <script src="~/Tool_JS/js/CryptoJS.js"></script>
    <script src="~/Tool_JS/js/ScripBarCode.js"></script>
    <link href="~/Content/assets/plugins/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/select2/select2_conquer.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/chosen.jquery.js"></script>

    <script src="~/Content/bootstrap/js/moment.js"></script>
    <script src="~/Content/Datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/JqueryDatatableEX/buttons.html5.min.js"></script>
    <script src="~/Scripts/JqueryDatatableEX/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/JqueryDatatableEX/jszip.min.js"></script>
    @* ================================= *@
    <link href="~/Content/css/loader.css" rel="stylesheet" />
    @* ================================= *@
    <link id="css_publish_color" href="~/Content/css/color_web_custom/publish.css" rel="stylesheet" disabled />
    <link id="css_flashship_color" href="~/Content/css/color_web_custom/flashship.css" rel="stylesheet" disabled />
    @*
        <script src="~/Tool_JS/js/Enviroment.js"></script>*@
    <script src="~/Tool_JS/js/jquery.cookie.js"></script>
    <script src="~/ScriptSys/account.js"></script>
    <script src="~/Content/plugins/select2/select2.min.js"></script>
    @* ================================= *@
    <link href="~/Content/css/confirmDialog.css" rel="stylesheet" />
    <script src="~/Tool_JS/js/confirmDialog.jquery.min.js"></script>
    @* ================================= *@
    <script src="~/ScriptSys/GetData/title.js"></script>
    <script src="~/ScriptSys/GetData/GetData.js"></script>
    @*
        <script src="~/ScriptSys/sys.js"></script>*@ @Scripts.Render("~/bundles/js")
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk-pZrvPGhFTe20y2UTwSixrM_tIS3o4I&sensor=false&amp;libraries=places"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="/ScriptSys/FormValidation/formValidation.min.js"></script>
            <script src="/ScriptSys/FormValidation/bootstrap.min.js"></script>
            <style>
                        /* Make the image fully responsive */
                        .carousel-inner img {
                            width: 100%;
                            height: 100%;
                        }

                        .close {
                            position: absolute;
                            right: 0px;
                            font-size: 50px;
                            top: 0px;
                            color: #f39c28;
                            font-weight: bold;
                            transition: 0.3s;
                            z-index: 10000;
                            width: 40px;
                            height: 40px;
                            text-indent: 0px;
                            opacity: 1;
                        }

                            .close:hover,
                            .close:focus {
                                color: #bbb;
                                text-decoration: none;
                                cursor: pointer;
                            }

                        #popupImgDelivery {
                            -moz-transition: all .5s linear;
                            -webkit-transition: all .5s linear;
                            transition: all .5s linear;
                        }

                        /*#popupImgDelivery .down {
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
                #popupImgDelivery .left {
                    -moz-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
                #popupImgDelivery .up {
                    -moz-transform: rotate(270deg);
                    -webkit-transform: rotate(270deg);
                    transform: rotate(270deg);
                }
                #popupImgDelivery .right {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }*/
            </style>
        </head>

<body class="hold-transition skin-blue sidebar-mini" @*style="overflow:hidden;"*@ id="style-10">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="" alt="" height="50" id="Favicon-Company-Home" class="img-responsive"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="" alt="" height="50" class="img-responsive" id="Logo-Company">
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <div class="rows">
                    <div class="" style="padding-left: 0;">
                        <a href="#" style="padding: 21px 15px;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                    </div>
                    <div class="col-md-3  col-xs-11">
                        <a href="/" class="logo-reponsive">
                            <img src="" alt="Logo" height="30" class="img-responsive" />
                        </a>
                        <div>
                            <!-- search form -->
                            <div class="sidebar-formB" style="margin: 15px 0px;">
                                <div class="input-group">
                                    <input type="text" name="code" class="form-control trackingNumber" placeholder="Mã đơn hàng">
                                    <span class="input-group-btn">
                                        <button type="button" name="search" style="height:28px" id="search-btn" class="btn btn-flat btn-tracking">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- /.search form -->
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12" style="left: 6%;">
                        @Html.Action("CustomerPartial", "Home")
                    </div>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <ul class="sidebar-menu " style="border-top: 101px solid #114d83;">
                    <li class="@ViewBag.DashBroadActive treeview">
                        <a href="@Url.Action("DashBroad","DashBroad")">
                            <i class="fa fa-tachometer"></i> <span> DashBoard</span>
                        </a>
                    </li>
                    <!-- <li class="@ViewBag.CreateRequestActive treeview">
                        <a href="@Url.Action("CreateRequest","Lading")">
                                    <i class="fa fa-plus"></i> <span> Tạo yêu cầu nhận hàng</span>
                                </a>
                    </li> -->

                    <li class="@ViewBag.CreateActive treeview">
                        <a href="@Url.Action("AddLading","Lading")">
                            <i class="fa fa-plus"></i> <span> Tạo đơn hàng</span>
                        </a>
                    </li>
                    @*<li class="@ViewBag.ImportActive treeview">
                        <a href="@Url.Action("ImportLading","Lading")">
                            <i class="fa fa-file-excel-o"></i> <span> Tạo đơn hàng Excel</span>
                        </a>
                    </li>*@
                    @*<li id="importLadingVT" class="@ViewBag.ImportTVActive treeview ">
                        <a href="@Url.Action("ImportLadingVT","Lading")">
                            <i class="fa fa-file-excel-o"></i> <span> Tạo đơn hàng Excel VT</span>
                        </a>
                    </li>*@
                    <!-- <li id="" class="@ViewBag.ImportTVActive treeview ">
                        <a href="@Url.Action("ImportLadingVT","Lading")">
                            <i class="fa fa-file-excel-o"></i> <span> Tạo đơn hàng Excel VT</span>
                        </a>
                    </li> -->
                    <li class="@ViewBag.WaitingPickup treeview">
                        <a href="@Url.Action("WaitingPickup","Lading")">
                            <i class="fa fa-spinner" aria-hidden="true"></i> <span> Chờ duyệt gửi hàng</span>
                        </a>
                    </li>
                    @*<li class="@ViewBag.ListRequest treeview">
                        <a href="@Url.Action("RequestList","Lading")">
                            <i class="fa fa-list"></i> <span> Quản lý yêu cầu lấy hàng</span>
                        </a>
                    </li>*@
                    <li class="@ViewBag.ListLading treeview">
                        <a href="@Url.Action("Index","Lading")">
                            <i class="fa fa-list"></i> <span> Quản lý đơn hàng</span>
                        </a>
                    </li>
                    @*
                        <li class="@ViewBag.SearchActive treeview">
                            <a href="@Url.Action("Search","Lading")">
                                                <i class="fa fa-search"></i> <span> Tìm kiếm đơn hàng</span>
                                            </a>
                        </li>*@
                    <li class="@ViewBag.Money treeview">
                        <a href="@Url.Action("Money","Price")">
                            @*<i class="fa fa-money"></i> <span>Quản lý tiền thu hộ</span>*@
                            <i class="fa fa-money"></i> <span>Quản lý công nợ</span>
                        </a>
                    </li>
                    @*<li class="@ViewBag.TransferActive treeview">
                            <a href="@Url.Action("MoneyTransfer","Price")">
                                <i class="fa fa-refresh"></i> <span> Lịch sử thanh toán COD</span>
                            </a>
                        </li>
                        <li class="@ViewBag.PaymentActive treeview">
                            <a href="@Url.Action("Payment","Price")">
                                <i class="fa fa-money"></i> <span> Thanh toán cuối tháng</span>
                            </a>
                        </li>*@
                    <li class="treeview">
                        <a class='Link-Website' href="#" target="_blank" rel="nofollow">
                            <i class="fa fa-home"></i> <span> Thông tin liên hệ</span>
                        </a>
                    </li>
                    @*
                        <li class="treeview">
                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i> <span> Mã giới thiệu</span>
                                            </a>
                        </li>*@
                    <li class="treeview">
                        <a href="@Url.Action("TermAndCondition","Home")">
                            <i class="fa fa-info-circle"></i> <span> Thông tin</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.1
            </div>
            <strong>
                <a href="http://phanmemchuyenphatnhanh.vn" target="_blank" rel="nofollow" id="">FMAN SYSTEM</a>
            </strong> -
            powered by <strong>
                <a href="http://dsc.vn" target="_blank" rel="nofollow" id="">FMAN</a>
            </strong>
        </footer>
    </div>
    <div id="loading" style="display:none">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
            </div>
            <p>ĐANG XỬ LÝ, VUI LÒNG ĐỢI...</p>
        </div>

    </div>
    <div class="message-dialog">
    </div>

    <!-- ./wrapper -->
    <div class="modal fade bs-example-modal-lg" id="phoneNumber" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-phoneNumber modal-lg" style="width:1024px">
            <div class="modal-content scroller" id="style-3">
                <div class="modal-header">
                    <button type="button" style="color:#f39c28" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">THÔNG TIN VẬN ĐƠN</h4>
                </div>
                <div class="modal-body">
                    <div class="tracking-PhoneNumber">
                        <div class="extend-main-container">
                            <div class="extend-head">
                                <span class="extend-title">CHI TIẾT ĐƠN HÀNG THEO SỐ ĐIỆN THOẠI</span>
                            </div>
                            <div class="extend-body extend-content-active">
                                <table class="table table-res table-shop" id="table-tracking-phonenumber" role="grid">
                                    <thead>
                                        <tr style="display: block;">
                                            <th width="200px">Mã đơn hàng</th>
                                            <th width="200px">Thời gian</th>
                                            <th width="200px">Người nhận</th>
                                            <th width="300px">Địa điểm</th>
                                            <th width="200px">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody style="overflow: auto;height: 450px;display: block;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade bs-example-modal-lg" id="wide" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-wide modal-lg" style="width:1024px">
            <div class="modal-content scroller" id="style-3">
                <div class="modal-header">
                    <button type="button" style="color:#f39c28" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">THÔNG TIN VẬN ĐƠN</h4>
                </div>
                <div class="modal-body">
                    <div class="tracking-ShipmentNumber">
                        <div class="extend-main-container">
                            <div class="extend-head">
                                <span class="extend-title">CHI TIẾT ĐƠN HÀNG : <span class="control-label detail-code orange"></span><span class="pull-right control-label detail-shop-code orange"></span></span>
                            </div>
                            <div class="extend-body extend-content-active">
                                <div class="extend-container col-md-12">
                                    <div class="extend-head">
                                        <span class="extend-title">Thông Tin Chung</span>
                                    </div>
                                    <div class="extend-body row">
                                        <div class="col-md-6">
                                            <label>
                                                Dịch vụ:
                                                <span class="control-label detail-service-name"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label>
                                                DVGT:
                                                <span class="control-label detail-support-service"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>
                                                Trọng lượng:
                                                <span class="control-label detail-weight"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 box-insured">
                                            <label>
                                                Khai giá:
                                                <span class="control-label detail-insured"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 box-insured">
                                            <label>
                                                Cước COD:
                                                <span class="control-label detail-price-cod">0</span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 box-cod">
                                            <label>
                                                Thu hộ (COD):
                                                <span class="control-label detail-cod"></span>
                                            </label>
                                        </div>

                                        <div class="col-md-3">
                                            <label>
                                                Cước phí:
                                                <span class="control-label detail-pricemain"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>
                                                Phụ phí xăng dầu:
                                                <span class="control-label detail-ppxdprice"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 box-thbbprice">
                                            <label>
                                                Phụ phí VSVX:
                                                <span class="control-label detail-vsvxprice"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 box-bpprice">
                                            <label>
                                                Phí DVGT:
                                                <span class="control-label detail-dvgtprice"></span>
                                            </label>
                                        </div>

                                        <div class="col-md-3">
                                            <label>
                                                Kích thước:
                                                <span class="control-label detail-demention"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                            <label>
                                                Tổng tiền:
                                                <span class="control-label detail-amount"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="extend-container col-md-4">
                                        <div class="row extend-head">
                                            <span class="extend-title">Thông Tin lấy hàng</span>
                                        </div>
                                        <div class="extend-body">
                                            <div class="col-md-12">
                                                <label>
                                                    Tên:
                                                    <span class="control-label detail-sender-name"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Địa chỉ:
                                                    <span class="control-label detail-from-address"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Số ĐT:
                                                    <span class="control-label detail-from-phone"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Trạm nhận:
                                                    <span class="control-label detail-from-hub"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    <a class="imagePickup" data-toggle="modal" data-target="#popupImgPickup" href="">Ảnh lấy hàng</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="extend-container col-md-4">
                                        <div class="extend-head">
                                            <span class="extend-title">Thông tin nhân hàng</span>
                                        </div>
                                        <div class="extend-body">
                                            <div class="col-md-12">
                                                <label>
                                                    Tên:
                                                    <span class="control-label detail-recipient-name"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Địa chỉ:
                                                    <span class="control-label detail-recipient-address"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Số ĐT:
                                                    <span class="control-label detail-recipient-phone"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Trạm phát:
                                                    <span class="control-label detail-to-hub"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="extend-container col-md-4">
                                        <div class="extend-head">
                                            <span class="extend-title">Thông Tin ký nhận</span>
                                        </div>
                                        <div class="extend-body">
                                            <div class="col-md-12">
                                                <label>
                                                    Thời gian tạo:
                                                    <span class="control-label detail-create-date"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Thời gian giao hàng:
                                                    <span class="control-label detail-finish-date"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Người nhận thực tế:
                                                    <span class="control-label detail-receive"></span>
                                                </label>

                                                <!-- Modal -->
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Tình trạng:
                                                    <span class="control-label detail-status"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Nội dung gói hàng:
                                                    <span class="control-label detail-description"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    Chi chú:
                                                    <span class="control-label detail-noted"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    <a class="imageDelivery" data-toggle="modal" data-target="#popupImgDelivery" href="">Ảnh giao hàng</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./thông tin đơn hàng -->
                            </div>
                        </div>
                        <div class="extend-main-container">
                            <div class="extend-head">
                                <span class="extend-title">CHI TIẾT HÀNH TRÌNH</span>
                            </div>
                            <div class="extend-body extend-content-active">
                                <table class="table table-res table-shop" id="table-history-lading" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Thời gian</th>
                                            <th>Nhân viên</th>
                                            <th>Địa điểm</th>
                                            <th>Trạng thái</th>
                                            <th>Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="popupImgDelivery" role="dialog">
        <div class="modal-dialog modal-lg" style="width:1024px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hình ảnh</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="myCarouselDelivery" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner carousel-inner-delivery">
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarouselDelivery" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarouselDelivery" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="carousel-inner-delivery-model">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="popupImgPickup" role="dialog">
        <div class="modal-dialog modal-lg" style="width:1024px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hình ảnh</h4>
                </div>
                <div class="modal-body text-center">
                    @*<img src="data:image/png;base64," id="imgBase64StringPickup" class="imgBase64String" height="450" width="300" alt="">*@
                    <div id="myCarouselPickup" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner carousel-inner-pickup">
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarouselPickup" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarouselPickup" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-default btn-view-detail display-none" data-toggle="modal" href="#wide"></a>
    <a class="btn btn-default btn-view-detail-phoneNumber display-none" data-toggle="modal" href="#phoneNumber"></a>
    @RenderSection("scripts", required: false)
    <script>
        $('.carousel').carousel({
            interval: false
        });
        $(document).ready(function () {
            setTimeout(function () {
                $('body').addClass('loaded');
            }, 500);
        });
    </script>
</body>

    </html>